/* colour palette + names generated via coolors.co/ */

:root {
  --dim-gray: #75706Dff;
  --licorice: rgba(36, 16, 8, 0.7);
  --black-bean: #270906ff;
  --rosewood: #650D12ff;
  --black-bean-2: #361009ff;
  --black-bean-3: #391A14ff;
  --fire-engine-red: #D50529ff;
  --licorice-2: #27150Fff;
  --battleship-gray: #7D776Aff;
  --bittersweet-shimmer: #BB5057ff;
}

* {  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 0.5rem;
  line-height: 1.5;
  background-color: white;

}

header h1 {
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--licorice);
  display: inline-block;

}

p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.avatar {
  display: flex;
  margin: 50px 50px 50px 50px;
  height: 300px;
  width: 300px;
  clip-path: circle(50% at 50% 50%); 

}

#about, #lorem {

  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  letter-spacing: 0.1rem;

}

#portfolioGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 500px 500px 500px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "horiseon horiseon fourthProject"
  "horiseon horiseon fourthProject"
  "secondProject thirdProject fourthProject";

}

.portfolioGridArea {
  align-content: end;
  justify-content: start;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  display: grid;
  cursor: pointer;
}


#portfolioGrid a {
  text-decoration: none;
  font-size: 3em;
  color: white;
 
}


.heading {
  background-color: var(--licorice);
}

#horiseon {
  grid-area: horiseon;
  background-image: url("./assets/images/horiseon.jpg");
}

#secondProject {
grid-area: secondProject;
background-color: #FF5F15;
background-image: url("./assets/images/edp.jpg");
}

#thirdProject {
grid-area: thirdProject;
background-color: red;
background-image:url(//images.unsplash.com/photo-1606231680172-666810bb5047);
background-position: center;
}

#fourthProject {
grid-area: fourthProject;
background-color: blue;
background-image:url(//images.unsplash.com/photo-1555600341-3ab8d338991d);
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0px 0%;
  background-image: url(//images.unsplash.com/photo-1617967397998-d48fe227a235);
  background-size: cover;
  border: black solid 5px;

}

#navbar h2 {
display: flex;
justify-content: center;
align-items: center;

}

#nav-items {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}


#nav-items li a {
  color: white;
  text-decoration: none;
  background-color: var(--licorice);
  display: block;

}

#nav-items li a:hover {
  color: var(--fire-engine-red);
}

footer {
  display: flex;
  margin-top: 25px;
  padding: 25px 20px;
  border: black solid 5px;
  flex-direction: row;
  justify-content: space-around;
  background-image: url(//images.unsplash.com/photo-1617967397998-d48fe227a235);
  background-repeat: no-repeat;
  background-size:cover;
  color: white;

}

footer h2 {
  display: none;
}

footer a {
  text-decoration: none;
  background-color: var(--licorice);
  color: white;
  display: block;
  align-items:center;
}

footer a:hover {
color: var(--fire-engine-red);

  }


  /*Desktop Media Query*/

@media screen and (min-width: 1920px) {


#about, #lorem {
  margin: 0px;
  font-size: 1.25em;
}

}

/* Split Screen / Tablet Media Query */

@media screen and (min-width:901px) and (max-width: 1919px) {

  #portfolioGrid {

    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "horiseon horiseon fourthProject"
    "secondProject" 
    "thirdProject" ;

}
  
}
/* Mobile Media Query */

@media screen and (min-width: 0px) and (max-width: 900px) {

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .nav h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    

  }

  #nav-items {
  display: none;
}

.avatar {
  margin: 5px;
  height: 100px; 
  width: 100px;
  align-self: center;

}

#about, #lorem {
  margin: 0px;
  font-size: 1em;
}

#lorem {
  display: none;
}

  #portfolioGrid {

    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "horiseon"
    "secondProject"
    "thirdProject" 
    "fourthProject";

  }

  }
