/* colour palette + names generated via coolors.co/ */

:root {
  --dim-gray: #75706Dff;
  --licorice: rgba(36, 16, 8, 0.7);
  --black-bean: #270906ff;
  --rosewood: #650D12ff;
  --black-bean-2: #361009ff;
  --black-bean-3: #391A14ff;
  --fire-engine-red: #D50529ff;
  --licorice-2: #27150Fff;
  --battleship-gray: #7D776Aff;
  --bittersweet-shimmer: #BB5057ff;
}

* {
  box-sizing: border-box;
  /* border: hotpink solid 1px; */

}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 0.5rem;
  line-height: 1.5;
  background-color: white;
  /* background-image: url(/assets/images/ALJ.png);
  background-repeat: repeat;
  background-position:5%;  */
  /* background-size: ; */
  /* background-image: url(https://images.unsplash.com/photo-1644670054692-55ff0f2d82a4); */
  /* background-color: var(--dim-gray); */
  
}


  /* display: none; */
/* background-color: white; */
/* background-image: url(https://images.unsplash.com/photo-1644670054692-55ff0f2d82a4); */

/* .header h1 {

  display: none;
} */

header h1 {
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--licorice);
  display: inline-block;

}
]

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


#about {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  letter-spacing: 0.1rem;




}

/* .hero-banner { */

  /* background-image: url(https://unsplash.com/photos/a-black-and-white-photo-of-a-grungy-wall-F1lrq-ZDBWI); */
  /* background-image: url(https://images.unsplash.com/photo-1644670054692-55ff0f2d82a4);
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
    

/* } */

#portfolioGrid {
  margin: 0px 5%;
  display: grid;
  /* gap: 1px; */
  grid-template-rows: 500px 500px 500px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "topProject topProject fourthProject"
  "topProject topProject fourthProject"
  "secondProject thirdProject fourthProject";
}

.portfolioGridArea {
  align-content: end;
  justify-content: start;
  /* background-position: 82.5% 17.5%; */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  display: grid;
  cursor: pointer;
}

#portfolioGrid > * {
  /* border: hotpink dashed 1px; */
}

#portfolioGrid a {
  text-decoration: none;
  font-size: 3em;
  color: white;
 


}

.heading {
  background-color: var(--licorice);
}

#topProject {
  grid-area: topProject;
  background-image: url(/assets/images/horiseon.jpg);
}

#secondProject {
grid-area: secondProject;
background-color: #FF5F15;
background-image: url(/assets/images/edp.jpg);
}

#thirdProject {
grid-area: thirdProject;
background-color: red;
/* background-image: url(/assets/images/02-portfolio-3.jpg); */
}

#fourthProject {
grid-area: fourthProject;
background-color: blue;
/* background-image: url(/assets/images/02-portfolio-4.jpg); */
}

#fifthProject {
grid-area: fifthProject;
background-color: yellow;
/* background-image: url(/assets/images/02-run-buddy.jpg); */
}

#sixthProject {
  grid-area: sixthProject;
  background-color: green;
  /* background-image: url(/assets/images/02-run-buddy.jpg); */
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0px 0%;
  background-image: url(//images.unsplash.com/photo-1617967397998-d48fe227a235);
  /* background-image: url(https://images.unsplash.com/photo-1644670054692-55ff0f2d82a4); */
  background-size: cover;
  border: black solid 5px;
  /* background-color: darkgray; */

}

#navbar h2 {
display: flex;
flex-direction:;
justify-content: center;
align-items: center;

}

/* #navigation {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;

} */

#nav-items {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

#nav-items li {
  
}

#nav-items li a {
  color: white;
  text-decoration: none;
  background-color: var(--licorice);
  display: block;

}

#nav-items li a:hover {
  color: var(--fire-engine-red);
}
/* 
#nav-items li a[href*="projects"] {
  color: var(--rosewood);
  font-size: larger; */
/* } */

footer {
  display: flex;
  margin-top: 25px;
  padding: 25px 20px;
  border: black solid 5px;
  flex-direction: row;
  justify-content: space-around;
  background-image: url(//images.unsplash.com/photo-1617967397998-d48fe227a235);
  /* background-image: url(https://images.unsplash.com/photo-1644670054692-55ff0f2d82a4); */
  background-repeat: no-repeat;
  background-size:cover;
  color: white;

}

footer h2 {
  display: none;
}

footer a {
  text-decoration: none;
  background-color: var(--licorice);
  color: white;
  display: block;
  align-items:center;
}

footer a:hover{
color: var(--fire-engine-red);

  }

  /* color: var(--rosewood); */


